.THIS .selected {
    background-color: #ECBE13;
}
.THIS .tooltip {
  position: relative;
  display: inline-block;
}

.THIS .tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: none;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.THIS .tooltip:hover .tooltiptext {
  visibility: visible;
}